/* zvaigzdute reiskia visi elementai */
* {
    box-sizing: border-box;
}

h1 {
    border: 3px solid red;
    padding: 20px;
    /* margin-top: 5px;
    margin-bottom: 5px; */
    margin: 20px 0 20px 0;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    color: red;
}

div.side-menu, div.content {
    display: inline-block;
}
div.side-menu{
    width: 25%;
    background-color: cadetblue;
}

div.content {
    width: 70%;
    background-color: #444343;
}